@media screen and (max-width: 64em){

    h2 {
        font-size: 1.5rem
    }

    .grid-x > .medium-9 {
        width: 100%;
    }

    .medium-9 {
        display: none;
    }

    li.cell.medium-3 {
        width: 25%;
    }

    .tabs-content {
        max-width: none;
        margin-top: 0;
    }

    .tab-button {
        text-align: left;
    }

    .tabs-div {
        display: inline-block;
        width: 98%;
    }

    .tabs {
        border: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .tab-button, .tab-button:focus {
        background: transparent;
    }

    .tab-button {
        display: inline;
        width: 98%;
    }

    ul {
        margin-bottom: 0;
    }

    .grid-x > .medium-3 {
        width: 100%;
    }

    .tabs-title {
        border-right: 1px solid #9e904a;
        border-left: 1px solid #9e904a;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .tabs-title.is-active {
        display: initial;
        background: #fce776;
        border-right: 1px solid #9e904a;
        border-left: 1px solid #9e904a;
        border-bottom: 1px solid #9e904a;
    }

    .tabs-panel.inside.is-active {
        display: initial;
    }

    .tabs-title:hover:not(.is-active) {
        background: #fff2b2;
    }

    .tabs-title.is-active > .tabs-div:after {
        content: '-';
    }

    .tabs-div::after {
        display: inline;
        content: '+';
    }

    .tabs-content {
        border-top: none;
    }

    img {
        max-width: 50%;
        height: auto;
    }

    img.logo {
        display: none;
    }

    html {
        font-size: 70%;
    }

    #last {
        border-bottom: 1px solid #9e904a;
    }
}